<html>
    <head>
        <title>Alex's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Alex's Blog</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>I have found out how to put words on the internet. I am now all-powerful.</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>I am currently researching how to take over the world with my new web blog. Results will follow soon.</p>
        </div>
    </body>
</html>